/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #ff9800;
  --main-transition: all 0.5s ease-in-out;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
  --main-background-color: #f5f5f5;
  --main-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  --main-p-color: #777;
  --main-border: 1px solid var(--main-color);
  --main-overlay: rgba(0, 0, 0, 0.7);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  color: var(--main-p-color);
  line-height: 1.8;
  font-size: 1rem;
  color: #767676;
  font-weight: 400;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  z-index: 999;
  color: #fff;
  bottom: 15px;
  right: 15px;
  border-radius: 0.5rem;
}
/*main-title*/
.main-title {
  position: relative;
  color: var(--main-color);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Setting Box 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.setting-box {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -200px;
  background-color: #fff;
  width: 200px;
  min-height: 100vh;
  transition: var(--main-transition);
}
.setting-box.open {
  left: 0;
}
.setting-box .icon-container {
  background-color: var(--main-color);
  position: absolute;
  right: -30px;

  text-align: center;
  cursor: pointer;
  color: #fff;
  top: 100px;
}
.setting-box .icon-container i {
  width: 30px;
  padding: 8px 0;
}

.setting-container .option-container {
  background-color: rgb(217, 217, 217);
  margin: 0;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.setting-container .option-container h4 {
  color: #000;
  margin-bottom: 15px;
  font-size: 15px;
}
/*Color Box*/
.setting-container .option-container ul {
  display: flex;
  gap: 10px;
}
.setting-container .option-container ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.4;
}
.setting-container .option-container ul li.active {
  border: 2px solid #fff;
}
.setting-container .option-container ul li:nth-child(1) {
  background-color: #ff9800;
}
.setting-container .option-container ul li:nth-child(2) {
  background-color: #006fe3;
}
.setting-container .option-container ul li:nth-child(3) {
  background-color: #cb1919;
}
.setting-container .option-container ul li:nth-child(4) {
  background-color: #005248;
}
.setting-container .option-container ul li:nth-child(5) {
  background-color: #aea8ba;
}
/*Random background box*/
.setting-container .option-container .yes,
.setting-container .option-container .no {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  display: inline-block;
  padding: 3px 0px;
  opacity: 0.5;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.setting-container .option-container .active {
  opacity: 1;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Nav Bullets
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.nav-bullets {
  position: fixed;
  right: 0;
  z-index: 999;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bullets .bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 15px auto;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.nav-bullets .bullet:hover {
  overflow: visible;
}
.nav-bullets .bullet .tooltip {
  position: absolute;
  right: 35px;
  padding: 5px 10px;
  top: -5px;
  width: 120px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  cursor: default;
  pointer-events: none;
}
.nav-bullets .bullet .tooltip::before {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Landing 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/01.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: var(--main-transition);
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-overlay);
}
.landing .container {
  position: relative;
}
.landing .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
}
.landing .logo {
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 20px;
}
.landing .main-header {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .landing .main-header {
    display: none;
  }
}
.landing .main-header > li > a {
  padding: 0 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 15px;
  transition: var(--main-transition);
}
.landing .main-header > li > a:hover {
  color: var(--main-color);
}
.landing .main-header > li > a.active,
.landing .main-header > li > a.active:hover {
  color: var(--main-color);
}
.landing .home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100%;
  height: calc(100vh - 70px);
  flex-direction: column;
}
.landing .home p {
  color: #fff;
  font-size: 15px;
  padding: 15px;
}
.landing .home span {
  color: var(--main-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# About 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.about {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #fff;
}
.about .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about .right {
  flex-basis: 20%;
}
.about .right img {
  width: 250px;
}
.about .left {
  padding: 30px;
  flex-basis: 60%;
}
.about .left h2 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column-reverse;
  }
  .about .left {
    text-align: center;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Our Skills 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.our-skills {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--main-background-color);
}
.our-skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.our-skills .skill-box {
  position: relative;
  display: flex;
  padding: 20px;
  background-color: #fff;
  width: 100%;
}
.our-skills .skill-box .skill-title {
  flex-basis: 10%;
  margin-right: 10px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.our-skills .skill-box .skill-progress {
  flex-basis: 90%;
  background-color: #eee;
  width: 100%;
  min-height: 30px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: var(--main-transition);
}
.our-skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .our-skills .skill-box {
    flex-direction: column;
  }
  .our-skills .skill-box .skill-title {
    margin-bottom: 10px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Our Gallary 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.our-gallary {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #fff;
}
.our-gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.our-gallary img {
  max-width: 100%;
  width: 100%;
  padding: 3px;
  border: var(--main-border);
}
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.214);
  top: 0;
  left: 0;
  z-index: 10000;
}
.popup-Box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 20px;
  z-index: 10001;
}
.popup-Box h3 {
  text-align: center;
  padding: 10px;
  color: var(--main-color);
  letter-spacing: 0.5px;
}
.popup-Box img {
  max-width: 100%;
  border-radius: 1rem;
}

.popup-Box .close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: bold;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.popup-Box .close-button:hover {
  background-color: #ff9900e2;
  color: #000;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# TimeLine 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.timeline {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--main-background-color);
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  height: 100%;
  width: 2px;
  left: 50%;
  top: 0;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px 7px;
  border-radius: 1rem;
  color: #fff;
  margin: 20px auto;
  position: relative;
  z-index: 2;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  position: relative;
  width: calc(50% - 25px);
  margin-bottom: 40px;
}
/*bullet*/
.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  top: 15px;
  border: 3px solid var(--main-color);
  z-index: 1;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
  position: relative;
}

/*content*/
.timeline .timeline-content .content h5 {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 15px;
  text-transform: uppercase;
}
.timeline .timeline-content .content p {
  font-size: 13px;
}
.clearfix {
  clear: both;
}
/*ARROW*/
.timeline .timeline-content .right .content::before,
.timeline .timeline-content .left .content::before {
  position: absolute;
  content: "";
  background-color: #fff;
  border-style: solid;
  border-width: 10px;
  top: 15px;
}
.timeline .timeline-content .left .content::before {
  right: -20px;
  border-color: var(--main-background-color) var(--main-background-color)
    var(--main-background-color) #fff;
}
.timeline .timeline-content .right .content::before {
  left: -20px;
  border-color: var(--main-background-color) #fff var(--main-background-color)
    var(--main-background-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# our-feature 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.our-feature {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.our-feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.our-feature .container img {
  width: 96px;
  display: block;
  margin: 20px auto;
}
.our-feature .container {
  text-align: center;
}
.our-feature .container h4 {
  color: var(--main-color);
  position: relative;
  padding: 10px;
  width: fit-content;
  margin: 10px auto;
}
.our-feature .container h4::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0px;
  left: 25%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# testimonials
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.testimonials {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.testimonials h2 {
  color: #fff;
  margin: 30px 0px;
  font-weight: bold;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}
.testimonials::before,
.testimonials::after {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  z-index: -1;
  background-color: var(--main-color);
  top: 0;
  left: 0;
}
.testimonials::after {
  background-color: #333;
  left: 50%;
}
.testimonials .container .box {
  background-color: #eee;
  padding: 20px;
}
.testimonials .container .box p {
  font-size: 14px;
  margin-bottom: 50px;
}
.testimonials .container .box h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
.testimonials .container .box span {
  text-align: center;
  display: block;
  font-size: 13px;
  color: #767676;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Contact Us
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.contact-us {
  position: relative;
  padding-top: calc(var(--main-padding-top) * 2);
  padding-bottom: calc(var(--main-padding-bottom) * 4);
  background-image: url(../img/contact.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-us::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  top: 0;
  height: 100%;
}
.contact-us .container {
  position: relative;
}
.contact-us form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  gap: 10px;
}
.contact-us form .left,
.contact-us form .right {
  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us form input,
.contact-us form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  background-color: rgba(219, 219, 219, 0.25);
  font-size: 14px;
  transition: var(--main-transition);
}
.contact-us form input:focus,
.contact-us form textarea:focus {
  outline: none;

  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.contact-us form input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.contact-us form textarea {
  resize: none;
  min-height: 135px;
}
.contact-us form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
}
@media (max-width: 767px) {
  .contact-us form .left,
  .contact-us form .right {
    width: 80%;
    flex: 100%;
    flex: 1;
  }
  .contact-us form {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
